@use "src/sass/abstracts/variables";

.popup {
   &__container {
      position: absolute;
      left: 16rem;
      top: 0.1rem;
      height: fit-content;
      width: 26rem;
      padding: 1rem 1rem 3rem;
      border-radius: 2px;
      background-color: variables.$color-white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      transition: all 0.5s;

      &--open {
         @extend .popup__container;
         opacity: 1;
         visibility: visible;
         z-index: 1;
      }

      &--closed {
         @extend .popup__container;
         opacity: 0;
         visibility: hidden;
         z-index: 0;
         height: 0;
         width: 0;
      }

      --tooltip-arrow {
      }
   }
}
