@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

.tab-navigation {
   &__container {
      margin-left: 200px;

      @include mixins.respond(phone) {
         margin-left: 0;
         overflow: scroll;
         background-color: variables.$color-white;
         &::-webkit-scrollbar {
            display: none !important;
         }
         overflow: scrollbars-none;
         overflow-style: none;
         width: 100%;
      }
   }

   &__ul {
      display: flex;
      list-style: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
   }

   &__li {
      padding: 0 15px;
   }

   &__nav-button {
      border: none;
      outline: none;
      cursor: pointer;
      padding: 20px 0;
      background-color: variables.$color-white;
      font-size: 13px;
      text-transform: uppercase;
      transition: 0.3s;

      &--active {
         @extend .tab-navigation__nav-button;

         border-bottom: 2px solid variables.$color-blue;
      }
   }
}
