@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

.edit-button {
   &__button {
      font-size: 2.2rem;
      background-color: #ecf0f5;
      color: rgba($color: variables.$color-grey, $alpha: 0.7);
      border: none;
      user-select: none;
      cursor: pointer;
      outline: none;
      transition: all 0.25s;

      &:hover {
         background-color: rgba($color: variables.$color-blue, $alpha: 0.7);
         color: variables.$color-white;
      }

      &:active {
         transform: scale(1.1);
      }

      &--mobile {
         @extend .edit-button__button;

         font-size: 2rem;
         width: 30px;
         height: 25px;
         padding-top: 3px;
      }
   }
}
