@use "src/sass/abstracts/variables";

.edit-form {
   &__container {
      user-select: none;

      &--mobile {
         user-select: none;
      }
   }

   &__inner-container,
   &__inner-container--mobile {
      position: relative;
      margin-bottom: 10px;
   }

   &__buttons-container {
      margin-top: 2rem;
      margin-right: 4rem;
      padding: 0;
      display: flex;
      justify-content: space-around;

      &--mobile {
         display: flex;
         justify-content: flex-end;
         position: absolute;
         top: 2.5rem;
         right: 2rem;
      }
   }

   &__title {
      font-size: 1.1rem;
      margin: 1rem auto 0;
      text-transform: uppercase;
      font-weight: 500;
      color: variables.$color-grey;
   }

   &__label {
      font-size: variables.$default-font-size;
      font-weight: 100;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 35px;
      transition: 0.2s ease all;
   }

   &__input {
      font-size: variables.$default-font-size;
      padding: 10px 10px 10px 0;
      display: block;
      width: 225px;
      border: none;
      border-bottom: 1px solid #757575;

      &:focus {
         outline: none;
      }

      &:focus ~ .edit-form__label,
      &:valid ~ .edit-form__label {
         top: 15px;
         font-size: variables.$default-font-size;
         color: #5264ae;
      }
   }

   &__bar {
      position: relative;
      display: block;
      width: 225px;

      &:before,
      &:after {
         content: "";
         height: 2px;
         width: 0;
         bottom: 1px;
         position: absolute;
         background: #5264ae;
         transition: 0.2s ease all;
      }
      &:before {
         left: 50%;
      }
      &:after {
         right: 50%;
      }
   }

   &__input:focus ~ &__bar:before,
   &__input:focus ~ &__bar:after {
      width: 50%;
   }

   &__highlight {
      position: absolute;
      height: 60%;
      width: 225px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
   }

   &__input:focus ~ &__highlight {
      animation: inputHighlighter 0.3s ease;
   }
}

@keyframes inputHighlighter {
   from {
      background: #5264ae;
   }
   to {
      width: 0;
      background: transparent;
   }
}
