html {
   box-sizing: border-box;

   // This defines what 1rem is
   font-size: 71.4%; //1 rem = 10px; 10px/14px = 71.4%

   @include respond(phone) {
      // width < 600?
      font-size: 64.2%; //1 rem = 9px, 9/14 = 64.2%
   }

   @include respond(tab-land) {
      // width < 1200?
      font-size: 64.2%; //1 rem = 9px, 9/14 = 50%
   }

   @include respond(tab-port) {
      // width < 900?
      font-size: 57.1%; //1 rem = 8px, 8/14 = 57.1%
   }

   @include respond(big-desktop) {
      font-size: 85.71%; //1rem = 12, 12/14 = 85.71%
   }

   height: 100%;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   padding: 0;
   margin: 0;

   height: inherit;

   background-color: $color-mainbackground;
}

.root {
   height: inherit;
}
