@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

body {
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   color: variables.$default-font-color;
   line-height: 22px;
}

h2 {
   margin: 0;
   padding: 0;
}

.heading {
   color: variables.$color-grey;
   font-weight: 200;

   &--primary {
      font-size: 2.2rem;
   }
}
