// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] common styles
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 14px
*/
@mixin respond($breakpoint) {
   @if $breakpoint == phone {
      @media only screen and (max-width: 42.85em) {
         @content;
      } //600px
   }
   @if $breakpoint == tab-port {
      @media only screen and (max-width: 64.28em) {
         @content;
      } //900px
   }
   @if $breakpoint == tab-land {
      @media only screen and (max-width: 85.7em) {
         @content;
      } //1200px
   }
   @if $breakpoint == big-desktop {
      @media only screen and (min-width: 128.57em) {
         @content;
      } //1800
   }
}
