// COLORS
$color-white: #fff;
$color-grey: #777;
$color-black: #000;
$color-blue: #007ee5;

$color-mainbackground: #f4f8f9;

// FONT
$default-font-size: 1.4rem;
$default-font-color: #3f454a;
$default-font-family: "Open Sans", sans-serif;
