@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

.header {
   display: flex;
   flex-direction: column;
   margin-bottom: 4rem;
   border-radius: 2px;
   background-color: variables.$color-white;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

   @include mixins.respond(phone) {
      min-height: 0;
      display: block;
      margin-bottom: 2rem;
      box-shadow: none;
   }

   &__inner-column {
      display: flex;
      flex-direction: column;

      @include mixins.respond(phone) {
         display: block;
         height: 430px;
      }
   }

   &__inner-row {
      display: flex;
      align-items: baseline;

      @include mixins.respond(phone) {
         display: block;
      }

      &:nth-child(2) {
         @include mixins.respond(phone) {
            display: none;
         }
      }
   }

   &__inner-container {
      display: flex;
      flex: 1;
      position: relative;
      margin-top: 2rem;

      @include mixins.respond(phone) {
         display: block;
      }
   }

   &__profilephoto-container {
      position: absolute;
      width: 170px;
      height: 170px;
      background-image: url("/assets/profile_image.jpg");
      background-position: 70% 0%;
      background-size: auto;
      top: -35px;
      left: 25px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), -32px -20px 100px -32px rgba(0, 0, 0, 0.3);

      @include mixins.respond(phone) {
         width: 130px;
         height: 130px;
         top: -150px;
         left: calc((100% - 130px) / 2);
      }
   }

   &__userinfo-container {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      flex: 1;
      margin-left: 210px;

      @include mixins.respond(phone) {
         margin-top: 16rem;
         margin-left: 0;
         padding: 0 2rem;
      }
   }

   &__usersrating-container {
      user-select: none;

      @include mixins.respond(phone) {
         margin: 1rem;
      }
   }
}

.button-logout-container {
   display: flex;
   flex: 1;
   padding: 20px;
   justify-content: flex-end;
}

.navigation-row {
   display: flex;
   align-items: center;
   box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.1);

   @include mixins.respond(phone) {
   }
}
