@use "src/sass/abstracts/variables";

.follow-button {
   &__element {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: #f5f5f5;
      background: variables.$color-grey;
      box-shadow: 0 0 3px variables.$color-grey;
      font-size: 20px;
      user-select: none;
      transition: all 0.2s;

      &:hover {
         color: variables.$color-black;
         background: variables.$color-white;
      }

      &:active {
         transform: scale(1.2);
      }
   }
}
