@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

.main-content {
   position: relative;
   max-width: 1170px;
   height: 620px;
   padding: 4rem 3.5rem;
   border-radius: 2px;
   background-color: variables.$color-white;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

   @include mixins.respond(phone) {
      max-width: none;
      min-height: 270px;
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;
      padding: 2.5rem 2rem 0;
      background-color: variables.$color-white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

      // overflow-x: scroll;
      // scroll-snap-type: x mandatory;
      // &::-webkit-scrollbar {
      //    display: none !important;
      // }
      // overflow: scrollbars-none;
      // overflow-style: none;
   }

   &__section {
      height: 100%;
      width: 230px;

      @include mixins.respond(phone) {
         width: 100%;
      }
   }
}
