@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

.followers {
   &__container {
      margin-left: auto;
      margin-right: 1.2rem;

      @include mixins.respond(phone) {
         position: absolute;
         top: 375px;
         left: 22px;
         margin: 0 0 0 0.5rem;
      }
   }

   &__inner-container {
      display: flex;
      align-items: center;
   }

   &__text {
      color: rgba($color: variables.$color-grey, $alpha: 0.7);
      font-weight: 400;
      margin-left: 1rem;
      font-size: 1.2rem;
   }

   &__title {
      margin-left: 2px;
   }
}
