@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

.button {
   width: 8.5rem;
   text-transform: uppercase;
   padding: 0.7rem 0;
   font-size: 1rem;
   font-weight: bold;
   border: 1px solid variables.$color-blue;
   background-color: variables.$color-white;
   color: variables.$color-blue;
   border-radius: 4px;
   user-select: none;
   cursor: pointer;
   outline: none;
   transition: all 0.25s;

   &:hover {
      background-color: rgba($color: variables.$color-blue, $alpha: 0.7);
      color: variables.$color-white;
   }

   &:active {
      transform: scale(1.1);
   }

   @include mixins.respond(phone) {
      border: none;
   }

   &--logout {
      @extend .button;
      transform: translateY(0.5rem);

      @include mixins.respond(phone) {
         transform: none;
         font-size: 1.3rem;
         border: none;
         background-color: transparent;
      }
   }

   &--save-form {
      @extend .button;

      @include mixins.respond(phone) {
         border: none;
         background-color: transparent;
      }
   }
}
