@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

.userinfo-container {
   &__item {
      padding: 5px;

      @include mixins.respond(phone) {
         &:first-child {
            display: flex;
            justify-content: center;
         }
      }
   }

   &__icon {
      font-size: 1.8rem;
      color: rgba($color: variables.$color-grey, $alpha: 0.7);
   }

   &__name {
      color: variables.$default-font-color;
      font-weight: 600;
      font-size: 1.8rem;

      @include mixins.respond(phone) {
         font-weight: 600;
         font-size: 2.1rem;
      }
   }

   &__row {
      display: flex;
   }

   &__title {
      color: variables.$default-font-color;
      font-weight: 400;
      margin-left: 10px;
      font-size: 1.3rem;
   }
}
