@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

.container {
   max-height: 960px;
   max-width: 1170px;
   margin: 70px auto 250px;
   background-color: variables.$color-mainbackground;

   @include mixins.respond(phone) {
      max-height: 800px;
      margin: 0;
   }
}
