@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

.section {
   &__container {
      padding-top: 3rem;
      display: flex;
      flex-direction: column;

      @include mixins.respond(phone) {
         padding-top: 2rem;
         // scroll-snap-align: start;
      }
   }

   &__mobile-button-container {
      position: absolute;
      top: 2.5rem;
      right: 3rem;
   }

   &__icon {
      font-size: 1.5rem;
      color: rgba($color: variables.$color-grey, $alpha: 0.7);
   }

   &__edit-icon {
      font-size: 2.2rem;
      color: rgba($color: variables.$color-grey, $alpha: 0.7);
      background-color: #ecf0f5;
      padding: 3px;
   }

   &__name {
      font-size: variables.$default-font-size;
      font-weight: 600;
      margin: 0 10px;
      background: #f5f7f7;

      @include mixins.respond(phone) {
         font-size: 1.7rem;
         margin-left: 0;
         background-color: variables.$color-white;
      }
   }

   &__row {
      display: flex;
      background-color: #f5f7f7;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2px;
      width: max-content;
      position: relative;

      @include mixins.respond(phone) {
         margin-bottom: 1rem;
         background-color: variables.$color-white;

         &:first-child() {
            margin-bottom: 3rem;
         }
      }
   }

   &__title {
      font-size: 1.3rem;
      font-weight: 200;
      margin: 0 10px;
      background: #f5f7f7;

      @include mixins.respond(phone) {
         background-color: variables.$color-white;
      }
   }
}
