@use "src/sass/abstracts/variables";
@use "src/sass/abstracts/mixins";

.usersrating {
   &__container {
      display: flex;
      align-items: baseline;
      user-select: none;
      margin: 0 2rem;
   }

   @include mixins.respond(phone) {
      display: flex;
      flex-direction: column;
      margin-left: 3rem;
   }

   &__row {
      unicode-bidi: bidi-override;
      direction: rtl;
      font-size: 1.7rem;
      user-select: none;
   }

   &__star {
      display: inline-block;
      position: relative;
      width: 1.8rem;
      user-select: none;

      &:hover:before,
      &:hover ~ &:before {
         content: "\2605";
         position: absolute;
      }

      &:active {
         transform: scale(1.2);
      }

      &--selected {
         &:before {
            content: "\2605";
            color: variables.$default-font-color;
            position: absolute;

            @include mixins.respond(phone) {
               color: variables.$color-blue;
            }
         }

         &:active {
            transform: scale(1.2);
         }
      }
   }

   &__review {
      color: variables.$default-font-color;
      font-weight: 400;
      margin-top: 0;
      margin-left: 3rem;
      font-size: 1.2rem;
      user-select: none;

      @include mixins.respond(phone) {
         font-size: 1.4rem;
      }
   }

   &__reviewers {
      margin-left: 1rem;

      @include mixins.respond(phone) {
         font-size: 1.3rem;
      }
   }
}
