@use "src/sass/abstracts/variables";

.fileupload-button {
   &__container {
      display: flex;
      margin: 0 auto;
   }

   &__input {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      white-space: nowrap;
      width: 1px;
   }

   &__label {
      display: flex;
      align-items: center;
      border: 1px solid #d0dce8;
      border-radius: 5px;
      color: variables.$color-grey;
      background-color: variables.$color-white;
      font-size: variables.$default-font-size;
      font-weight: 200;
      cursor: pointer;
      padding: 0.7rem;
      transform: translateY(0.5rem);
      transition: all 0.5s;

      &:hover {
         background-color: rgba($color: variables.$color-grey, $alpha: 0.3);
         color: variables.$color-white;
      }

      &:active {
         transform: scale(1.2);
      }
   }

   &__icon {
      font-size: 26px;
      color: grey;
      margin: 0 15px;
   }
}
